/* --------------------------------------------general---------------------------------------------- */
:root {
    --main-color: #1C1C1C;
    --custom-gray: #748182;
    --baby-gray: #F7F7F7;
    --main-font: "Poppins", sans-serif;
    --secondary-font: "Montserrat", sans-serif;

}

.main-color {
    color: var(--main-color) !important;
}

.baby-gray {
    color: var(--baby-gray) !important;
}

.custom-gray {
    color: var(--custom-gray) !important;
}

.main-color-bg {
    background-color: var(--main-color) !important;
}

.baby-gray-color-bg {
    background-color: var(--baby-gray) !important;

}

.main-font {
    font-family: var(--main-font) !important;
}

.secondary-font {
    font-family: var(--secondary-font) !important;
}

.title h3 {
    font-family: var(--secondary-font);
    font-weight: 900;
    color: var(--main-color);
    font-size: 2.5rem;
    line-height: 2.75rem;
    position: relative;
    display: inline;
    /* z-index: 5; */
}

.title h3::after {
    content: '';
    background-image: url(/imgs/dots.png);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 35%;
    z-index: -1;
}

i {
    color: white;
}

a {
    text-decoration: none !important;
}


/* --------------------------------------------nav---------------------------------------------- */
nav .navbar-brand {
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 3.75rem;
    color: var(--main-color);
    font-family: var(--secondary-font);
    text-transform: uppercase;
    letter-spacing: .05rem;
    padding: 0;
}

/* --------------------------------------------header---------------------------------------------- */

header {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(/imgs/bg.jpg);
    background-size: cover;
    background-position: top;
}


header .info h5 {
    font-weight: 800;
    font-size: 3.25rem;
    line-height: 3.5rem;
}

header .info p {
    margin: 2.5rem 0;
    font-size: 3.5rem;
    line-height: 2.25rem;
    font-weight: 100;
}

header .info p::after {
    content: '';
    animation: text-typing 10s infinite alternate;
    font-weight: 400;
}

@keyframes text-typing {

    /* Typing "Larry Daniels" */
    0% {
        content: '|';
    }

    2% {
        content: 'L|';
    }

    4% {
        content: 'La|';
    }

    6% {
        content: 'Lar|';
    }

    8% {
        content: 'Larr|';
    }

    10% {
        content: 'Larry|';
    }

    12% {
        content: 'Larry |';
    }

    14% {
        content: 'Larry D|';
    }

    16% {
        content: 'Larry Da|';
    }

    18% {
        content: 'Larry Dan|';
    }

    20% {
        content: 'Larry Dani|';
    }

    22% {
        content: 'Larry Danie|';
    }

    24% {
        content: 'Larry Daniel|';
    }

    26% {
        content: 'Larry Daniels|';
    }

    /* Fast Deleting "Larry Daniels" */
    28% {
        content: 'Larry Daniel|';
    }

    30% {
        content: 'Larry Danie|';
    }

    32% {
        content: 'Larry Dani|';
    }

    34% {
        content: 'Larry Dan|';
    }

    36% {
        content: 'Larry Da|';
    }

    38% {
        content: 'Larry D|';
    }

    40% {
        content: '|';
    }

    /* Typing "Developer" */
    42% {
        content: 'D|';
    }

    44% {
        content: 'De|';
    }

    46% {
        content: 'Dev|';
    }

    48% {
        content: 'Deve|';
    }

    50% {
        content: 'Devel|';
    }

    52% {
        content: 'Develo|';
    }

    54% {
        content: 'Develop|';
    }

    56% {
        content: 'Developer|';
    }

    /* Fast Deleting "Developer" */
    58% {
        content: 'Develop|';
    }

    60% {
        content: 'Develo|';
    }

    62% {
        content: 'Devel|';
    }

    64% {
        content: 'Deve|';
    }

    66% {
        content: 'Dev|';
    }

    68% {
        content: 'De|';
    }

    70% {
        content: 'D|';
    }

    72% {
        content: '|';
    }

    /* Typing "Designer" */
    74% {
        content: 'D|';
    }

    76% {
        content: 'De|';
    }

    78% {
        content: 'Des|';
    }

    80% {
        content: 'Desi|';
    }

    82% {
        content: 'Desig|';
    }

    84% {
        content: 'Design|';
    }

    86% {
        content: 'Designer|';
    }

    /* Fast Deleting "Designer" */
    88% {
        content: 'Design|';
    }

    90% {
        content: 'Desig|';
    }

    92% {
        content: 'Desi|';
    }

    94% {
        content: 'Des|';
    }

    96% {
        content: 'De|';
    }

    98% {
        content: 'D|';
    }

    100% {
        content: '|';
    }
}

header .social-icons i {
    font-size: .80rem;
    display: inline;
    padding: .75rem;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 100%;
}

/* --------------------------------------------About---------------------------------------------- */
/* left section */
.hero-img {
    position: relative;
}

.hero-img::before {
    content: '';
    background-image: url(/imgs/dots.png);
    width: 80%;
    height: 80%;
    position: absolute;
    left: -30px;
    bottom: -30px;
    background-repeat: repeat;
    z-index: -1;
}

/* right section */

#About .right-section h3 {
    font-family: var(--secondary-font);
    font-weight: 800;
    color: var(--main-color);
    font-size: 1.75rem;
    line-height: 2.75rem;
    letter-spacing: .05rem;
    margin: 0;
}

#About .right-section .sub-title {
    font-size: 1rem;
    line-height: 1.25rem;
}

#About .right-section .name {
    font-weight: 900;
}

.custom-progress {
    width: 100%;
    background-color: var(--baby-gray);
    box-shadow: inset 0 0 10px lightgray;
    border-radius: .25rem;
    border-radius: .25rem;
    margin: 2rem 0;
}

.custom-progress-bar {
    padding: .5rem;
    border-radius: .25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    color: var(--baby-gray);
    height: 1.5rem;
    font-family: var(--secondary-font);
    font-size: .75rem;
}

.download-button,
.contact-button {
    border: 0;
    background-color: var(--main-color);
    color: white;
    padding: .5rem;
    border: 1px solid var(--main-color);
    border-radius: .25rem;
    padding: .5rem 1.5rem;
    transition: .25s;
}

.contact-button {
    background-color: white;
    color: var(--main-color);
}

.contact-button:hover {
    background-color: var(--main-color);
    color: white;
}

.download-button:hover {
    background-color: white;
    color: var(--main-color);
}

/* --------------------------------------------Services---------------------------------------------- */

#Services .service-container i {
    padding: 1.25rem;
    border-radius: 100%;
    background-color: var(--baby-gray);
    color: var(--main-color);
    font-size: 1.5rem;
    transition: .5s;

}


#Services .service-container i:hover {
    background-color: var(--main-color);
    color: white;

}

#Services .service-container .inner-layer {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}


/* --------------------------------------------counters---------------------------------------------- */

.counters i {
    padding: 1.25rem;
    color: var(--main-color) !important;
    font-size: 2rem;
    background-color: var(--main-color);
}

.counters p {
    padding: 1rem;
    color: var(--main-color);
    font-size: 2.25rem;
    font-weight: 800;
}

.counters span {
    padding: 1rem;
    color: var(--custom-gray);
    font-weight: 600;
    line-height: 1.5rem;
}

/* --------------------------------------------portfolio---------------------------------------------- */

.portfolio .nav-tabs{
    border: none;
}
.portfolio .nav-tabs .nav-link {
    border: none;
    color: var(--main-color);
    font-weight: 700;
    text-transform: capitalize;
}

.portfolio .nav-tabs .nav-link:hover,
.portfolio .nav-tabs .nav-link.active {
    border-bottom: #1C1C1C solid 2px;
}

.portfolio .nav-tabs .nav-link:active {
    border-bottom: #1C1C1C solid 2px;
}


.image {
    position: relative;
}

.transparent-layer {
    padding: 5px;
    position: absolute;
    top: 0%;
    background-color: transparent;
    transition: .5s ease;
    opacity: 0;
}

.image:hover .transparent-layer {
    /* top: 0%; */
    opacity: 1;
}

.item-layout {
    background-color: rgba(255, 255, 255, .8);

}

.item-layout h6 {
    font-weight: 700;
    font-size: .75rem;
    color: var(--main-color);
    font-family: var(--secondary-font);
    line-height: .75rem;
    letter-spacing: .05rem;
    text-transform: uppercase;
}

.item-layout .image-icons i {
    background-color: var(--main-color);
    padding: .5rem;
    border-radius: 100%;
    border: 1px var(--main-color) solid;

}

.item-layout .image-icons i:hover {
    background-color: white;
    color: var(--main-color);
    border: 1px var(--main-color) solid;
}